@{
    ViewData["Title"] = "Customer";
    Layout = "_MyLayout";
}
<h4 class="text-center">Customers</h4>
<div>
    <table class="table primary table-striped">
        <tr>
            <th>id</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Возраст</th>
            <th>Страна</th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        
    </table>
</div><br>

<div class="row">
    <div class="col-8"></div>
    <div class="col-4">
        <form action="@Url.Action("Index")">
            <button type="submit" class="btn-danger col-4 ">Товары</button>
        </form>
    </div>
 
   
   
</div>



<script>
</script>
@section Footer
{
    Мой копирайтинг 
}
